USE [master]
GO
/****** Object:  Database [Team_Gym]    Script Date: 3/13/2026 4:37:15 PM ******/
CREATE DATABASE [Team_Gym]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Team_Gym', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Team_Gym.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Team_Gym_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Team_Gym_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Team_Gym].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Team_Gym]
GO
/****** Object:  User [kareem]    Script Date: 3/13/2026 4:37:16 PM ******/
CREATE USER [kareem] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[activities]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[day] [nvarchar](255) NULL,
	[month] [nvarchar](255) NOT NULL,
	[times] [int] NOT NULL,
	[visits] [int] NOT NULL,
	[statement] [nvarchar](255) NOT NULL,
	[code_attachments] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_attachments]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_attachments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [bigint] NOT NULL,
	[img] [nvarchar](255) NOT NULL,
	[video] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_elements]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_elements](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code_activities] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[ratio] [nvarchar](255) NOT NULL,
	[sets] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cardios]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cardios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[minutes] [nvarchar](255) NOT NULL,
	[distance] [nvarchar](255) NOT NULL,
	[start_latitude] [nvarchar](255) NULL,
	[start_longitude] [nvarchar](255) NULL,
	[end_latitude] [nvarchar](255) NULL,
	[end_longitude] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[fname] [nvarchar](255) NOT NULL,
	[lname] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NOT NULL,
	[documentation] [nvarchar](255) NOT NULL,
	[img] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_requests]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NULL,
	[code_order] [nvarchar](255) NOT NULL,
	[code_payment] [nvarchar](255) NULL,
	[fname] [nvarchar](255) NOT NULL,
	[lname] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[quantity] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[system] [nvarchar](255) NULL,
	[supplement] [nvarchar](255) NULL,
	[amount] [bigint] NOT NULL,
	[paid] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[fname] [nvarchar](255) NOT NULL,
	[lname] [nvarchar](255) NOT NULL,
	[job_role] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[img] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[documentation] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feature_systems]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feature_systems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[code_system] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files_exercises]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files_exercises](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[pathImg] [nvarchar](255) NOT NULL,
	[pathVideo] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[histories]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NULL,
	[code_employee] [nvarchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NULL,
	[attachment] [nvarchar](255) NULL,
	[registered_entity] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img_in_bodies]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img_in_bodies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[img] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imports]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NULL,
	[amount] [nvarchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
	[code_supplements] [nvarchar](255) NULL,
	[code_snaks] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[income_statements]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[income_statements](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lineage_in_bodies]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lineage_in_bodies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[january] [nvarchar](255) NULL,
	[february] [nvarchar](255) NULL,
	[march] [nvarchar](255) NULL,
	[april] [nvarchar](255) NULL,
	[may] [nvarchar](255) NULL,
	[june] [nvarchar](255) NULL,
	[july] [nvarchar](255) NULL,
	[august] [nvarchar](255) NULL,
	[september] [nvarchar](255) NULL,
	[october] [nvarchar](255) NULL,
	[november] [nvarchar](255) NULL,
	[december] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lineages]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lineages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_supplements] [nvarchar](255) NULL,
	[code_systems] [nvarchar](255) NULL,
	[code_snacks] [nvarchar](255) NULL,
	[inputs] [nvarchar](255) NULL,
	[IncomeStatement] [nvarchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
	[january] [nvarchar](255) NULL,
	[february] [nvarchar](255) NULL,
	[march] [nvarchar](255) NULL,
	[april] [nvarchar](255) NULL,
	[may] [nvarchar](255) NULL,
	[june] [nvarchar](255) NULL,
	[july] [nvarchar](255) NULL,
	[august] [nvarchar](255) NULL,
	[september] [nvarchar](255) NULL,
	[october] [nvarchar](255) NULL,
	[november] [nvarchar](255) NULL,
	[december] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NULL,
	[code_employee] [nvarchar](255) NULL,
	[code_supplements] [nvarchar](255) NULL,
	[code_systems] [nvarchar](255) NULL,
	[icon] [nvarchar](max) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[amount] [nvarchar](255) NULL,
	[residual] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_registries]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_registries](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[order_name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[paymonth] [nvarchar](255) NOT NULL,
	[code_payments] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[code_supplements] [nvarchar](255) NULL,
	[code_systems] [nvarchar](255) NULL,
	[code_snacks] [nvarchar](255) NULL,
	[code_request_payment] [nvarchar](255) NULL,
	[order_name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[paymonth] [nvarchar](255) NOT NULL,
	[payday] [nvarchar](255) NOT NULL,
	[amount] [bigint] NOT NULL,
	[paid] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[records]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[name_client] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[attachment] [nvarchar](255) NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[name_employee] [nvarchar](255) NOT NULL,
	[phone_employee] [nvarchar](255) NOT NULL,
	[job_role_employee] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests_payments]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests_payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[fname] [nvarchar](255) NOT NULL,
	[lname] [nvarchar](255) NOT NULL,
	[order_name] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[state] [nvarchar](255) NOT NULL,
	[payday] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NULL,
	[code_supplements] [nvarchar](255) NULL,
	[code_systems] [nvarchar](255) NULL,
	[code_snacks] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting_clients]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting_clients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_client] [nvarchar](255) NOT NULL,
	[class_reminders] [bit] NOT NULL,
	[payment_date] [bit] NOT NULL,
	[promotions] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting_companies]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting_companies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[view_logs_logins] [bit] NOT NULL,
	[supplements_requests] [bit] NOT NULL,
	[subscription_requests] [bit] NOT NULL,
	[add_employees] [bit] NOT NULL,
	[subscription_application_form] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting_employees]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting_employees](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[code_employee] [nvarchar](255) NOT NULL,
	[class_reminders] [bit] NOT NULL,
	[login_alerts] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[snacks]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[snacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplements]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplements](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[img] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[discount] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systems]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[code_features] [nvarchar](255) NOT NULL,
	[defult] [nvarchar](255) NOT NULL,
	[amount] [nvarchar](255) NOT NULL,
	[duration] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/13/2026 4:37:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activities] ON 

SET IDENTITY_INSERT [dbo].[activities] OFF
GO
SET IDENTITY_INSERT [dbo].[activity_attachments] ON 

INSERT [dbo].[activity_attachments] ([id], [code], [img], [video], [created_at], [updated_at]) VALUES (4, 5, N'images/exercises/upper/1761763134_ChatGPT_Image_22_أكتوبر_2025__08_50_22_م-removebg-preview.png', N'video/exercises/upper/1758486671Whisk_cauajdawyzkwy2jmlteymjctngiwmy04nwy1lty.mp4', CAST(N'2025-10-07T22:57:27.843' AS DateTime), CAST(N'2025-10-07T22:57:27.843' AS DateTime))
INSERT [dbo].[activity_attachments] ([id], [code], [img], [video], [created_at], [updated_at]) VALUES (5, 6, N'images/exercises/upper/1761763134_ChatGPT_Image_22_أكتوبر_2025__08_50_22_م-removebg-preview.png', N'video/exercises/upper/1758486671Whisk_cauajdawyzkwy2jmlteymjctngiwmy04nwy1lty.mp4', CAST(N'2025-10-07T22:57:27.887' AS DateTime), CAST(N'2025-10-29T18:38:54.077' AS DateTime))
INSERT [dbo].[activity_attachments] ([id], [code], [img], [video], [created_at], [updated_at]) VALUES (6, 7, N'images/exercises/up/1758728842ChatGPT Image 17 أغسطس 2025، 02_55_13 م.png', N'video/exercises/up/1758728842Whisk_cauajdq5ngu5ymyxltflowitndbins1iotvklwe.mp4', CAST(N'2025-10-07T22:57:27.913' AS DateTime), CAST(N'2025-10-07T22:57:27.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[activity_attachments] OFF
GO
SET IDENTITY_INSERT [dbo].[activity_elements] ON 

INSERT [dbo].[activity_elements] ([id], [code_activities], [name], [ratio], [sets], [created_at], [updated_at]) VALUES (5, N'671947056', N'upper', N'4 G', N'12 n', CAST(N'2025-10-07T22:57:27.650' AS DateTime), CAST(N'2025-10-07T22:57:27.650' AS DateTime))
INSERT [dbo].[activity_elements] ([id], [code_activities], [name], [ratio], [sets], [created_at], [updated_at]) VALUES (6, N'671947056', N'upper', N'4 G', N'12 n', CAST(N'2025-10-07T22:57:27.880' AS DateTime), CAST(N'2025-10-07T22:57:27.880' AS DateTime))
INSERT [dbo].[activity_elements] ([id], [code_activities], [name], [ratio], [sets], [created_at], [updated_at]) VALUES (7, N'1718053870', N'up', N'4', N'12', CAST(N'2025-10-07T22:57:27.907' AS DateTime), CAST(N'2025-10-07T22:57:27.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[activity_elements] OFF
GO
SET IDENTITY_INSERT [dbo].[cardios] ON 

INSERT [dbo].[cardios] ([id], [code], [code_client], [name], [minutes], [distance], [start_latitude], [start_longitude], [end_latitude], [end_longitude], [created_at], [updated_at]) VALUES (6, N'669954243', N'1483930267', N'Runing', N'00:02', N'0', N'31.41637450452576', N'31.7865226149387', N'31.417000', N'31.787000', CAST(N'2025-11-25T14:07:11.950' AS DateTime), CAST(N'2025-11-25T14:07:11.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[cardios] OFF
GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([id], [code], [fname], [lname], [email], [phone], [state], [category], [documentation], [img], [password], [created_at], [updated_at]) VALUES (9, N'1483930267', N'Kareem', N'Abogabal', N'kareemabogabal41@gmail.com', N'01092320210', N'client', N'pro', N'true', N'1759877984.jpg', N'$2y$12$aOCugvjYQGj4EOTxZkuJRuiNe6UbqsXm7nrV22ME1L3knENuoYGAq', CAST(N'2025-10-07T22:24:10.773' AS DateTime), CAST(N'2025-10-08T00:23:55.940' AS DateTime))
INSERT [dbo].[clients] ([id], [code], [fname], [lname], [email], [phone], [state], [category], [documentation], [img], [password], [created_at], [updated_at]) VALUES (16, N'783259749', N'Ahmed', N'sholah', N'Ahmed@gmail.com', N'01092320210', N'client', N'pro', N'false', NULL, N'$2y$12$hMF4XQTkaoSLxvQRirRrleeqJwck35Lnps1j4wvGvclXu73iokam2', CAST(N'2025-10-28T18:02:14.937' AS DateTime), CAST(N'2025-10-28T18:02:14.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[clients] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_requests] ON 

INSERT [dbo].[customer_requests] ([id], [code], [code_client], [code_order], [code_payment], [fname], [lname], [email], [quantity], [phone], [type], [state], [system], [supplement], [amount], [paid], [created_at], [updated_at]) VALUES (9, N'497079074', NULL, N'1152523311', N'1489081432', N'Ahmed', N'sholah', NULL, NULL, N'01092320210', N'system', N'acceptance', N'pro', NULL, 1000, 0, CAST(N'2025-10-28T17:31:15.117' AS DateTime), CAST(N'2025-10-29T11:31:45.000' AS DateTime))
INSERT [dbo].[customer_requests] ([id], [code], [code_client], [code_order], [code_payment], [fname], [lname], [email], [quantity], [phone], [type], [state], [system], [supplement], [amount], [paid], [created_at], [updated_at]) VALUES (12, N'127199308', N'1483930267', N'1739744506', N'24540536', N'Kareem', N'Abogabal', NULL, N'2', N'01092320210', N'supplement', N'acceptance', NULL, N'ISO ADD', 1500, 3000, CAST(N'2025-12-04T17:35:03.973' AS DateTime), CAST(N'2025-12-04T17:41:21.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[customer_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([id], [code], [fname], [lname], [job_role], [phone], [img], [email], [password], [documentation], [created_at], [updated_at]) VALUES (1, N'1945630573', N'System', N'Team', N'administrator', N'01000458275', NULL, N'systemsyntax120@gmail.com', N'$2y$12$QHz5mpsxu3Y7IZ3unPvYkedI.JMTor2kbH1yTUMoEQrZvH4IJFiDm', N'true', CAST(N'2025-09-21T00:10:44.350' AS DateTime), CAST(N'2025-09-21T00:10:44.350' AS DateTime))
INSERT [dbo].[employees] ([id], [code], [fname], [lname], [job_role], [phone], [img], [email], [password], [documentation], [created_at], [updated_at]) VALUES (2, N'1469301573', N'Kareem', N'Abogabal', N'admin', N'01092320210', N'1759349796.jpg', N'kareemabogabal41@gmail.com', N'$2y$12$8eL89FmeGAkVYwt4NbB9EeKBP3tNvWpKJUABCwsamFA27/PsE4yPm', N'true', CAST(N'2025-09-21T00:10:44.350' AS DateTime), CAST(N'2025-10-03T15:43:57.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[feature_systems] ON 

INSERT [dbo].[feature_systems] ([id], [code], [name], [state], [code_system], [created_at], [updated_at]) VALUES (1, N'922373129', N'CRM', N'true', N'1243575061', CAST(N'2025-09-25T11:04:34.470' AS DateTime), CAST(N'2025-09-25T11:11:37.200' AS DateTime))
INSERT [dbo].[feature_systems] ([id], [code], [name], [state], [code_system], [created_at], [updated_at]) VALUES (7, N'181880192', N'CRM', N'true', N'1271509912', CAST(N'2025-09-25T11:05:54.520' AS DateTime), CAST(N'2025-09-25T11:51:16.037' AS DateTime))
INSERT [dbo].[feature_systems] ([id], [code], [name], [state], [code_system], [created_at], [updated_at]) VALUES (8, N'382887379', N'CRM', N'false', N'1731733576', CAST(N'2025-09-25T11:08:13.133' AS DateTime), CAST(N'2025-09-25T11:08:13.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[feature_systems] OFF
GO
SET IDENTITY_INSERT [dbo].[files_exercises] ON 

INSERT [dbo].[files_exercises] ([id], [code], [name], [pathImg], [pathVideo], [created_at], [updated_at]) VALUES (1, N'248756954', N'upper', N'images/exercises/upper/1761763134_ChatGPT_Image_22_أكتوبر_2025__08_50_22_م-removebg-preview.png', N'video/exercises/upper/1758486671Whisk_cauajdawyzkwy2jmlteymjctngiwmy04nwy1lty.mp4', CAST(N'2025-09-21T20:31:11.213' AS DateTime), CAST(N'2025-10-29T18:38:54.113' AS DateTime))
INSERT [dbo].[files_exercises] ([id], [code], [name], [pathImg], [pathVideo], [created_at], [updated_at]) VALUES (2, N'1171778202', N'pull', N'images/exercises/pull/1758486809ChatGPT Image 17 أغسطس 2025، 02_55_13 م.png', N'video/exercises/pull/1758486809Whisk_cauajdq5ngu5ymyxltflowitndbins1iotvklwe.mp4', CAST(N'2025-09-21T20:33:29.017' AS DateTime), CAST(N'2025-09-21T20:33:29.017' AS DateTime))
INSERT [dbo].[files_exercises] ([id], [code], [name], [pathImg], [pathVideo], [created_at], [updated_at]) VALUES (3, N'393878125', N'up', N'images/exercises/up/1758728842ChatGPT Image 17 أغسطس 2025، 02_55_13 م.png', N'video/exercises/up/1758728842Whisk_cauajdq5ngu5ymyxltflowitndbins1iotvklwe.mp4', CAST(N'2025-09-24T15:47:22.647' AS DateTime), CAST(N'2025-09-24T15:47:22.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[files_exercises] OFF
GO
SET IDENTITY_INSERT [dbo].[histories] ON 

INSERT [dbo].[histories] ([id], [code], [code_client], [code_employee], [name], [state], [amount], [attachment], [registered_entity], [created_at], [updated_at]) VALUES (10175, N'518397982', NULL, N'1469301573', N'Kareem Abogabal', N'login', NULL, NULL, N'Kareem', CAST(N'2026-01-06T12:29:00.007' AS DateTime), CAST(N'2026-01-06T12:29:00.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[histories] OFF
GO
SET IDENTITY_INSERT [dbo].[img_in_bodies] ON 

INSERT [dbo].[img_in_bodies] ([id], [code], [img], [created_at], [updated_at]) VALUES (11, N'1483930267', N'2025-12-1_1-11_PM.jpg', CAST(N'2025-12-01T13:11:08.580' AS DateTime), CAST(N'2025-12-01T13:11:08.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[img_in_bodies] OFF
GO
SET IDENTITY_INSERT [dbo].[lineage_in_bodies] ON 

INSERT [dbo].[lineage_in_bodies] ([id], [code], [name], [january], [february], [march], [april], [may], [june], [july], [august], [september], [october], [november], [december], [created_at], [updated_at]) VALUES (81, N'1483930267', N'weight', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'70.4', N'78.4', CAST(N'2025-12-01T11:11:07.437' AS DateTime), CAST(N'2025-12-01T11:11:07.437' AS DateTime))
INSERT [dbo].[lineage_in_bodies] ([id], [code], [name], [january], [february], [march], [april], [may], [june], [july], [august], [september], [october], [november], [december], [created_at], [updated_at]) VALUES (82, N'1483930267', N'BMI', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'20.1', N'28.5', CAST(N'2025-12-01T11:11:08.790' AS DateTime), CAST(N'2025-12-01T11:11:08.790' AS DateTime))
INSERT [dbo].[lineage_in_bodies] ([id], [code], [name], [january], [february], [march], [april], [may], [june], [july], [august], [september], [october], [november], [december], [created_at], [updated_at]) VALUES (83, N'1483930267', N'PBF', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'25.5', N'20.8', CAST(N'2025-12-01T11:11:09.503' AS DateTime), CAST(N'2025-12-01T11:11:09.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[lineage_in_bodies] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (2, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (3, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_registries] ON 

INSERT [dbo].[payment_registries] ([id], [code], [order_name], [type], [amount], [paymonth], [code_payments], [code_employee], [created_at], [updated_at]) VALUES (48, N'317391381', N'plain', N'system', N'25', N'october', N'1483930267', N'1469301573', CAST(N'2025-10-07T23:27:03.550' AS DateTime), CAST(N'2025-10-07T23:27:03.550' AS DateTime))
INSERT [dbo].[payment_registries] ([id], [code], [order_name], [type], [amount], [paymonth], [code_payments], [code_employee], [created_at], [updated_at]) VALUES (49, N'1023086498', N'plain', N'system', N'25', N'october', N'1483930267', N'1469301573', CAST(N'2025-10-07T23:32:11.527' AS DateTime), CAST(N'2025-10-07T23:32:11.527' AS DateTime))
INSERT [dbo].[payment_registries] ([id], [code], [order_name], [type], [amount], [paymonth], [code_payments], [code_employee], [created_at], [updated_at]) VALUES (50, N'983950695', N'plain', N'system', N'25', N'october', N'1483930267', N'1469301573', CAST(N'2025-10-07T23:37:11.927' AS DateTime), CAST(N'2025-10-07T23:37:11.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[payment_registries] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [code], [code_client], [code_employee], [code_supplements], [code_systems], [code_snacks], [code_request_payment], [order_name], [type], [paymonth], [payday], [amount], [paid], [created_at], [updated_at]) VALUES (52, N'1483930267', N'1483930267', N'1945630573', NULL, N'1152523311', NULL, N'1692304923', N'pro', N'system', N'october', N'Wednesday', 1000, 0, CAST(N'2025-10-07T22:24:11.130' AS DateTime), CAST(N'2025-11-02T14:49:34.140' AS DateTime))
INSERT [dbo].[payments] ([id], [code], [code_client], [code_employee], [code_supplements], [code_systems], [code_snacks], [code_request_payment], [order_name], [type], [paymonth], [payday], [amount], [paid], [created_at], [updated_at]) VALUES (92, N'1489081432', N'783259749', N'1469301573', NULL, N'1152523311', NULL, N'1320844385', N'pro', N'system', N'october', N'Tuesday', 1000, 0, CAST(N'2025-10-28T18:02:15.487' AS DateTime), CAST(N'2025-10-28T18:02:15.487' AS DateTime))
INSERT [dbo].[payments] ([id], [code], [code_client], [code_employee], [code_supplements], [code_systems], [code_snacks], [code_request_payment], [order_name], [type], [paymonth], [payday], [amount], [paid], [created_at], [updated_at]) VALUES (96, N'412913848', N'1483930267', N'1469301573', N'1739744506', NULL, NULL, N'1274377832', N'ISO ADD', N'supplement', N'december', N'Thursday', 1500, 0, CAST(N'2025-12-04T17:41:10.637' AS DateTime), CAST(N'2025-12-04T17:41:10.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[records] ON 

INSERT [dbo].[records] ([id], [code_client], [name_client], [state], [amount], [attachment], [code_employee], [name_employee], [phone_employee], [job_role_employee], [created_at], [updated_at]) VALUES (41, N'1483930267', N'kareem abogabal', N'entrance', N'entrance', NULL, N'1469301573', N'Kareem Abogabal', N'01092320210', N'admin', CAST(N'2025-10-07T23:08:40.657' AS DateTime), CAST(N'2025-10-07T23:08:40.657' AS DateTime))
INSERT [dbo].[records] ([id], [code_client], [name_client], [state], [amount], [attachment], [code_employee], [name_employee], [phone_employee], [job_role_employee], [created_at], [updated_at]) VALUES (44, N'1483930267', N'Kareem Abogabal', N'exit', N'25', N'system', N'1469301573', N'Kareem Abogabal', N'01092320210', N'admin', CAST(N'2025-10-07T23:32:11.597' AS DateTime), CAST(N'2025-10-07T23:32:11.597' AS DateTime))
INSERT [dbo].[records] ([id], [code_client], [name_client], [state], [amount], [attachment], [code_employee], [name_employee], [phone_employee], [job_role_employee], [created_at], [updated_at]) VALUES (45, N'1483930267', N'kareem abogabal', N'entrance', N'entrance', NULL, N'1469301573', N'Kareem Abogabal', N'01092320210', N'admin', CAST(N'2025-10-07T23:37:02.233' AS DateTime), CAST(N'2025-10-07T23:37:02.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[records] OFF
GO
SET IDENTITY_INSERT [dbo].[requests_payments] ON 

INSERT [dbo].[requests_payments] ([id], [code], [code_client], [fname], [lname], [order_name], [amount], [state], [payday], [code_employee], [code_supplements], [code_systems], [code_snacks], [created_at], [updated_at]) VALUES (46, N'547090317', N'1483930267', N'Kareem', N'Abogabal', N'system', N'25', N'acceptance', N'daily', N'1945630573', NULL, N'1731733576', NULL, CAST(N'2025-10-07T22:24:11.020' AS DateTime), CAST(N'2025-10-07T22:24:11.057' AS DateTime))
INSERT [dbo].[requests_payments] ([id], [code], [code_client], [fname], [lname], [order_name], [amount], [state], [payday], [code_employee], [code_supplements], [code_systems], [code_snacks], [created_at], [updated_at]) VALUES (49, N'1692304923', N'1483930267', N'Kareem', N'Abogabal', N'system', N'1000', N'acceptance', N'Wednesday', N'1469301573', NULL, N'1152523311', NULL, CAST(N'2025-10-08T00:16:37.443' AS DateTime), CAST(N'2025-10-08T00:23:55.933' AS DateTime))
INSERT [dbo].[requests_payments] ([id], [code], [code_client], [fname], [lname], [order_name], [amount], [state], [payday], [code_employee], [code_supplements], [code_systems], [code_snacks], [created_at], [updated_at]) VALUES (78, N'1755230039', N'1483930267', N'Kareem', N'Abogabal', N'snacks', N'15', N'acceptance', N'daily', N'1469301573', NULL, NULL, N'1458766887', CAST(N'2025-10-13T11:33:38.597' AS DateTime), CAST(N'2025-10-13T11:33:38.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[requests_payments] OFF
GO
INSERT [dbo].[sessions] ([id], [user_id], [ip_address], [user_agent], [payload], [last_activity]) VALUES (N'jBsX474vXAPk9Xfy8ZLLitl1DFIo7Ied0CL1oiky', NULL, N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36', N'YTozOntzOjY6Il90b2tlbiI7czo0MDoiRGJUalBmSGsyZVBtNVZsdDhCWXlwWnFNdEZBTUptaDlhTksyZU1UUyI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6Mzg6Imh0dHA6Ly9iYXItYXNzb2NpYXRpb24ubG9jYWwvZGFzaGJvYXJkIjtzOjU6InJvdXRlIjtOO31zOjY6Il9mbGFzaCI7YToyOntzOjM6Im9sZCI7YTowOnt9czozOiJuZXciO2E6MDp7fX19', 1767786120)
INSERT [dbo].[sessions] ([id], [user_id], [ip_address], [user_agent], [payload], [last_activity]) VALUES (N'xfrZzULNB6Z3L3ZHMzQwmCT3jhYw2CFpgKeQYCBQ', NULL, N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36', N'YTozOntzOjY6Il90b2tlbiI7czo0MDoiS0lKTmdJVjVBNGVEUklZVUVITHFxQ1ZPMDRpWnd1TVRQYzBlV3pMZiI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6Mjg6Imh0dHA6Ly9iYXItYXNzb2NpYXRpb24ubG9jYWwiO3M6NToicm91dGUiO047fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=', 1767783977)
GO
SET IDENTITY_INSERT [dbo].[setting_clients] ON 

INSERT [dbo].[setting_clients] ([id], [code], [code_client], [class_reminders], [payment_date], [promotions], [created_at], [updated_at]) VALUES (4, N'1483930267', N'1483930267', 1, 1, 1, CAST(N'2025-10-07T22:24:10.847' AS DateTime), CAST(N'2025-10-07T22:24:10.847' AS DateTime))
INSERT [dbo].[setting_clients] ([id], [code], [code_client], [class_reminders], [payment_date], [promotions], [created_at], [updated_at]) VALUES (6, N'783259749', N'783259749', 1, 1, 1, CAST(N'2025-10-28T18:02:15.067' AS DateTime), CAST(N'2025-10-28T18:02:15.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[setting_clients] OFF
GO
SET IDENTITY_INSERT [dbo].[setting_companies] ON 

INSERT [dbo].[setting_companies] ([id], [code], [code_employee], [view_logs_logins], [supplements_requests], [subscription_requests], [add_employees], [subscription_application_form], [created_at], [updated_at]) VALUES (1, N'839284925', N'1469301573', 0, 1, 1, 1, 1, CAST(N'2025-09-21T00:10:44.350' AS DateTime), CAST(N'2025-11-13T11:08:03.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[setting_companies] OFF
GO
SET IDENTITY_INSERT [dbo].[setting_employees] ON 

INSERT [dbo].[setting_employees] ([id], [code], [code_employee], [class_reminders], [login_alerts], [created_at], [updated_at]) VALUES (1, N'893205739', N'1469301573', 1, 0, CAST(N'2025-10-03T11:19:14.677' AS DateTime), CAST(N'2025-10-03T11:19:14.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[setting_employees] OFF
GO
SET IDENTITY_INSERT [dbo].[snacks] ON 

INSERT [dbo].[snacks] ([id], [code], [name], [amount], [created_at], [updated_at]) VALUES (2, N'1458766887', N'waters', N'15', CAST(N'2025-10-08T16:10:54.173' AS DateTime), CAST(N'2025-10-08T16:10:54.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[snacks] OFF
GO
SET IDENTITY_INSERT [dbo].[supplements] ON 

INSERT [dbo].[supplements] ([id], [code], [name], [description], [img], [amount], [created_at], [updated_at], [discount]) VALUES (23, N'1739744506', N'ISO ADD', N'A sack of ISO Add protein delivers high-quality whey isolate formulated for rapid absorption and lean muscle support. Its smooth mixability and mild flavor make it perfect for post-workout recovery and convenient daily supplementation.', N'2025-10-8_12-38_AM.jpg', N'1500', CAST(N'2025-10-08T00:38:13.520' AS DateTime), CAST(N'2025-10-08T16:48:44.687' AS DateTime), N'1000')
INSERT [dbo].[supplements] ([id], [code], [name], [description], [img], [amount], [created_at], [updated_at], [discount]) VALUES (24, N'1520393376', N'Whey protein ISO', N'A sack of ISO Add protein delivers high-quality whey isolate formulated for rapid absorption and lean muscle support. Its smooth mixability and mild flavor make it perfect for post-workout recovery and convenient daily supplementation.', N'2025-11-12_2-11_PM.jpg', N'1500', CAST(N'2025-10-08T00:38:42.187' AS DateTime), CAST(N'2025-11-12T14:11:07.890' AS DateTime), N'1000')
SET IDENTITY_INSERT [dbo].[supplements] OFF
GO
SET IDENTITY_INSERT [dbo].[systems] ON 

INSERT [dbo].[systems] ([id], [code], [name], [code_features], [defult], [amount], [duration], [created_at], [updated_at]) VALUES (1, N'1243575061', N'easy', N'922373129', N'false', N'200', N'1', CAST(N'2025-09-25T11:04:34.383' AS DateTime), CAST(N'2025-09-25T11:04:34.383' AS DateTime))
INSERT [dbo].[systems] ([id], [code], [name], [code_features], [defult], [amount], [duration], [created_at], [updated_at]) VALUES (2, N'1152523311', N'pro', N'615755129', N'false', N'1000', N'2', CAST(N'2025-09-25T11:05:18.017' AS DateTime), CAST(N'2025-10-22T11:15:33.453' AS DateTime))
INSERT [dbo].[systems] ([id], [code], [name], [code_features], [defult], [amount], [duration], [created_at], [updated_at]) VALUES (3, N'1271509912', N'middle', N'181880192', N'false', N'200', N'1', CAST(N'2025-09-25T11:05:54.313' AS DateTime), CAST(N'2025-09-25T11:05:54.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[systems] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [activities_code_attachments_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [activities_code_attachments_unique] ON [dbo].[activities]
(
	[code_attachments] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [activities_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [activities_code_unique] ON [dbo].[activities]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [clients_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [clients_code_unique] ON [dbo].[clients]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [employees_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [employees_code_unique] ON [dbo].[employees]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [imports_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [imports_code_unique] ON [dbo].[imports]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [income_statements_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [income_statements_code_unique] ON [dbo].[income_statements]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [jobs_queue_index]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE NONCLUSTERED INDEX [jobs_queue_index] ON [dbo].[jobs]
(
	[queue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [payments_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [payments_code_unique] ON [dbo].[payments]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [requests_payments_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [requests_payments_code_unique] ON [dbo].[requests_payments]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_last_activity_index]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE NONCLUSTERED INDEX [sessions_last_activity_index] ON [dbo].[sessions]
(
	[last_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_user_id_index]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE NONCLUSTERED INDEX [sessions_user_id_index] ON [dbo].[sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [snacks_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [snacks_code_unique] ON [dbo].[snacks]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [supplements_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [supplements_code_unique] ON [dbo].[supplements]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [systems_code_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [systems_code_unique] ON [dbo].[systems]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_unique]    Script Date: 3/13/2026 4:37:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clients] ADD  DEFAULT ('client') FOR [state]
GO
ALTER TABLE [dbo].[clients] ADD  DEFAULT ('false') FOR [documentation]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('false') FOR [documentation]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[setting_clients] ADD  DEFAULT ('0') FOR [class_reminders]
GO
ALTER TABLE [dbo].[setting_clients] ADD  DEFAULT ('0') FOR [payment_date]
GO
ALTER TABLE [dbo].[setting_clients] ADD  DEFAULT ('0') FOR [promotions]
GO
ALTER TABLE [dbo].[setting_companies] ADD  DEFAULT ('1') FOR [view_logs_logins]
GO
ALTER TABLE [dbo].[setting_companies] ADD  DEFAULT ('1') FOR [supplements_requests]
GO
ALTER TABLE [dbo].[setting_companies] ADD  DEFAULT ('1') FOR [subscription_requests]
GO
ALTER TABLE [dbo].[setting_companies] ADD  DEFAULT ('0') FOR [add_employees]
GO
ALTER TABLE [dbo].[setting_companies] ADD  DEFAULT ('1') FOR [subscription_application_form]
GO
ALTER TABLE [dbo].[setting_employees] ADD  DEFAULT ('0') FOR [class_reminders]
GO
ALTER TABLE [dbo].[setting_employees] ADD  DEFAULT ('0') FOR [login_alerts]
GO
ALTER TABLE [dbo].[activities]  WITH CHECK ADD  CONSTRAINT [activities_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[activities] CHECK CONSTRAINT [activities_code_client_foreign]
GO
ALTER TABLE [dbo].[activities]  WITH CHECK ADD  CONSTRAINT [activities_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[activities] CHECK CONSTRAINT [activities_code_employee_foreign]
GO
ALTER TABLE [dbo].[activity_attachments]  WITH CHECK ADD  CONSTRAINT [activity_attachments_code_foreign] FOREIGN KEY([code])
REFERENCES [dbo].[activity_elements] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[activity_attachments] CHECK CONSTRAINT [activity_attachments_code_foreign]
GO
ALTER TABLE [dbo].[activity_elements]  WITH CHECK ADD  CONSTRAINT [activity_elements_code_activities_foreign] FOREIGN KEY([code_activities])
REFERENCES [dbo].[activities] ([code_attachments])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[activity_elements] CHECK CONSTRAINT [activity_elements_code_activities_foreign]
GO
ALTER TABLE [dbo].[cardios]  WITH CHECK ADD  CONSTRAINT [cardios_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cardios] CHECK CONSTRAINT [cardios_code_client_foreign]
GO
ALTER TABLE [dbo].[customer_requests]  WITH CHECK ADD  CONSTRAINT [customer_requests_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
GO
ALTER TABLE [dbo].[customer_requests] CHECK CONSTRAINT [customer_requests_code_client_foreign]
GO
ALTER TABLE [dbo].[customer_requests]  WITH CHECK ADD  CONSTRAINT [customer_requests_code_payment_foreign] FOREIGN KEY([code_payment])
REFERENCES [dbo].[payments] ([code])
GO
ALTER TABLE [dbo].[customer_requests] CHECK CONSTRAINT [customer_requests_code_payment_foreign]
GO
ALTER TABLE [dbo].[feature_systems]  WITH CHECK ADD  CONSTRAINT [feature_systems_code_system_foreign] FOREIGN KEY([code_system])
REFERENCES [dbo].[systems] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[feature_systems] CHECK CONSTRAINT [feature_systems_code_system_foreign]
GO
ALTER TABLE [dbo].[histories]  WITH CHECK ADD  CONSTRAINT [histories_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
GO
ALTER TABLE [dbo].[histories] CHECK CONSTRAINT [histories_code_client_foreign]
GO
ALTER TABLE [dbo].[histories]  WITH CHECK ADD  CONSTRAINT [histories_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[histories] CHECK CONSTRAINT [histories_code_employee_foreign]
GO
ALTER TABLE [dbo].[img_in_bodies]  WITH CHECK ADD  CONSTRAINT [img_in_bodies_code_foreign] FOREIGN KEY([code])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[img_in_bodies] CHECK CONSTRAINT [img_in_bodies_code_foreign]
GO
ALTER TABLE [dbo].[imports]  WITH CHECK ADD  CONSTRAINT [imports_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[imports] CHECK CONSTRAINT [imports_code_employee_foreign]
GO
ALTER TABLE [dbo].[imports]  WITH CHECK ADD  CONSTRAINT [imports_code_snaks_foreign] FOREIGN KEY([code_snaks])
REFERENCES [dbo].[snacks] ([code])
GO
ALTER TABLE [dbo].[imports] CHECK CONSTRAINT [imports_code_snaks_foreign]
GO
ALTER TABLE [dbo].[imports]  WITH CHECK ADD  CONSTRAINT [imports_code_supplements_foreign] FOREIGN KEY([code_supplements])
REFERENCES [dbo].[supplements] ([code])
GO
ALTER TABLE [dbo].[imports] CHECK CONSTRAINT [imports_code_supplements_foreign]
GO
ALTER TABLE [dbo].[lineage_in_bodies]  WITH CHECK ADD  CONSTRAINT [lineage_in_bodies_code_foreign] FOREIGN KEY([code])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lineage_in_bodies] CHECK CONSTRAINT [lineage_in_bodies_code_foreign]
GO
ALTER TABLE [dbo].[lineages]  WITH CHECK ADD  CONSTRAINT [lineages_code_snacks_foreign] FOREIGN KEY([code_snacks])
REFERENCES [dbo].[snacks] ([code])
GO
ALTER TABLE [dbo].[lineages] CHECK CONSTRAINT [lineages_code_snacks_foreign]
GO
ALTER TABLE [dbo].[lineages]  WITH CHECK ADD  CONSTRAINT [lineages_code_supplements_foreign] FOREIGN KEY([code_supplements])
REFERENCES [dbo].[supplements] ([code])
GO
ALTER TABLE [dbo].[lineages] CHECK CONSTRAINT [lineages_code_supplements_foreign]
GO
ALTER TABLE [dbo].[lineages]  WITH CHECK ADD  CONSTRAINT [lineages_code_systems_foreign] FOREIGN KEY([code_systems])
REFERENCES [dbo].[systems] ([code])
GO
ALTER TABLE [dbo].[lineages] CHECK CONSTRAINT [lineages_code_systems_foreign]
GO
ALTER TABLE [dbo].[lineages]  WITH CHECK ADD  CONSTRAINT [lineages_incomestatement_foreign] FOREIGN KEY([IncomeStatement])
REFERENCES [dbo].[income_statements] ([code])
GO
ALTER TABLE [dbo].[lineages] CHECK CONSTRAINT [lineages_incomestatement_foreign]
GO
ALTER TABLE [dbo].[lineages]  WITH CHECK ADD  CONSTRAINT [lineages_inputs_foreign] FOREIGN KEY([inputs])
REFERENCES [dbo].[imports] ([code])
GO
ALTER TABLE [dbo].[lineages] CHECK CONSTRAINT [lineages_inputs_foreign]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [notifications_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [notifications_code_client_foreign]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [notifications_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [notifications_code_employee_foreign]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [notifications_code_supplements_foreign] FOREIGN KEY([code_supplements])
REFERENCES [dbo].[supplements] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [notifications_code_supplements_foreign]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [notifications_code_systems_foreign] FOREIGN KEY([code_systems])
REFERENCES [dbo].[systems] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [notifications_code_systems_foreign]
GO
ALTER TABLE [dbo].[payment_registries]  WITH CHECK ADD  CONSTRAINT [payment_registries_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[payment_registries] CHECK CONSTRAINT [payment_registries_code_employee_foreign]
GO
ALTER TABLE [dbo].[payment_registries]  WITH CHECK ADD  CONSTRAINT [payment_registries_code_payments_foreign] FOREIGN KEY([code_payments])
REFERENCES [dbo].[payments] ([code])
GO
ALTER TABLE [dbo].[payment_registries] CHECK CONSTRAINT [payment_registries_code_payments_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_client_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_employee_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_request_payment_foreign] FOREIGN KEY([code_request_payment])
REFERENCES [dbo].[requests_payments] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_request_payment_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_snacks_foreign] FOREIGN KEY([code_snacks])
REFERENCES [dbo].[snacks] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_snacks_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_supplements_foreign] FOREIGN KEY([code_supplements])
REFERENCES [dbo].[supplements] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_supplements_foreign]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [payments_code_systems_foreign] FOREIGN KEY([code_systems])
REFERENCES [dbo].[systems] ([code])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [payments_code_systems_foreign]
GO
ALTER TABLE [dbo].[records]  WITH CHECK ADD  CONSTRAINT [records_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
GO
ALTER TABLE [dbo].[records] CHECK CONSTRAINT [records_code_client_foreign]
GO
ALTER TABLE [dbo].[records]  WITH CHECK ADD  CONSTRAINT [records_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[records] CHECK CONSTRAINT [records_code_employee_foreign]
GO
ALTER TABLE [dbo].[requests_payments]  WITH CHECK ADD  CONSTRAINT [requests_payments_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
GO
ALTER TABLE [dbo].[requests_payments] CHECK CONSTRAINT [requests_payments_code_client_foreign]
GO
ALTER TABLE [dbo].[requests_payments]  WITH CHECK ADD  CONSTRAINT [requests_payments_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
GO
ALTER TABLE [dbo].[requests_payments] CHECK CONSTRAINT [requests_payments_code_employee_foreign]
GO
ALTER TABLE [dbo].[requests_payments]  WITH CHECK ADD  CONSTRAINT [requests_payments_code_snacks_foreign] FOREIGN KEY([code_snacks])
REFERENCES [dbo].[snacks] ([code])
GO
ALTER TABLE [dbo].[requests_payments] CHECK CONSTRAINT [requests_payments_code_snacks_foreign]
GO
ALTER TABLE [dbo].[requests_payments]  WITH CHECK ADD  CONSTRAINT [requests_payments_code_supplements_foreign] FOREIGN KEY([code_supplements])
REFERENCES [dbo].[supplements] ([code])
GO
ALTER TABLE [dbo].[requests_payments] CHECK CONSTRAINT [requests_payments_code_supplements_foreign]
GO
ALTER TABLE [dbo].[requests_payments]  WITH CHECK ADD  CONSTRAINT [requests_payments_code_systems_foreign] FOREIGN KEY([code_systems])
REFERENCES [dbo].[systems] ([code])
GO
ALTER TABLE [dbo].[requests_payments] CHECK CONSTRAINT [requests_payments_code_systems_foreign]
GO
ALTER TABLE [dbo].[setting_clients]  WITH CHECK ADD  CONSTRAINT [setting_clients_code_client_foreign] FOREIGN KEY([code_client])
REFERENCES [dbo].[clients] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[setting_clients] CHECK CONSTRAINT [setting_clients_code_client_foreign]
GO
ALTER TABLE [dbo].[setting_companies]  WITH CHECK ADD  CONSTRAINT [setting_companies_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[setting_companies] CHECK CONSTRAINT [setting_companies_code_employee_foreign]
GO
ALTER TABLE [dbo].[setting_employees]  WITH CHECK ADD  CONSTRAINT [setting_employees_code_employee_foreign] FOREIGN KEY([code_employee])
REFERENCES [dbo].[employees] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[setting_employees] CHECK CONSTRAINT [setting_employees_code_employee_foreign]
GO
USE [master]
GO
